body {
    background-image: rgb(161, 159, 159)/*url(https://images.immediate.co.uk/production/volatile/sites/25/2020/11/GettyImages-950666456-85e72f1-e1625125685297.jpg)*/;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.stickybox {
    box-sizing: border-box;
    background-color: #000000;
    margin-top: 0;
    padding-top: 0;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;   
}

.stickybox a{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: system-ui;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0;
    padding: 15px 15px;
    padding-left: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
img {
  width: 50%;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 0;
  padding-bottom: 0;

}
.aboutme-box {
  box-sizing: border-box;
  background-color: #000000;
  margin-bottom: 40px;
  margin-top: 30px;
}

.aboutme {
  font-family: system-ui;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.aboutme img{
  width: 300px;
  height: 300px;
}

.aboutme span {
  color: rgb(255, 255, 255);
  padding: 100px;
}

.aboutme a{
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(0, 0, 0);
  font-family: system-ui;

}

.Exp-tran1 {
  font-family: system-ui;
  display: flex;
  align-items: center;
}
.Exp-tran1 img{
  width: 450px;
  height: 300px;
  border-radius: 2%;
  margin-left: 100px;margin-left: 100px;
  margin-right: 100px;
}
.Exp-tran1 span {
  color: rgb(0, 0, 0);
  padding: 100px;
}

.Exp-tran2 {
  font-family: system-ui;
  display: flex;
  align-items: center;
}
.Exp-tran2 img{
  width: 450px;
  height: 300px;
  border-radius: 2%;
  margin-left: 100px;
  margin-right: 100px;
}
.Exp-tran2 span {
  color: rgb(0, 0, 0);
  padding: 100px;
}

.Exp-tran3 {
  font-family: system-ui;
  display: flex;
  align-items: center;
}
.Exp-tran3 img{
  width: 450px;
  height: 300px;
  border-radius: 2%;
  margin-left: 100px;
  margin-right: 100px;
}
.Exp-tran3 span {
  color: rgb(0, 0, 0);
  padding: 100px;
}

.gotop {
  box-sizing: border-box;
  background-color: #000000;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.gotop a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  font-family: system-ui;
}