body {
    background-image: url(https://images.immediate.co.uk/production/volatile/sites/25/2020/11/GettyImages-950666456-85e72f1-e1625125685297.jpg);
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.stickybox {
    box-sizing: border-box;
    background-color: #000000;
    margin-top: 0;
    padding-top: 0;
    top: 0;
    opacity: 0.5;
    position: -webkit-sticky;
    position: sticky;
    align-items: center;
    display: flex;
    
}

.stickybox img {
    width: 30px;
    height: 30px;
}

.stickybox p{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: system-ui;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0;
    padding: 15px 15px;
    text-transform: uppercase;
  }

.gotop {
  box-sizing: border-box;
  background-color: #000000;
  margin-bottom: 0;
  padding-bottom: 0;
  opacity: 0.5;
  text-align: center;
}

.gotop a{
  color: rgb(0, 217, 255);
}