body {
    background-image: rgb(161, 159, 159)/*url(https://images.immediate.co.uk/production/volatile/sites/25/2020/11/GettyImages-950666456-85e72f1-e1625125685297.jpg)*/;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.stickybox {
    box-sizing: border-box;
    background-color: #000000;
    margin-top: 0;
    padding-top: 0;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;   
}

.stickybox p{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: system-ui;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0;
    padding: 15px 15px;
    padding-left: 25px;
    text-transform: uppercase;
}
img {
  width: 50%;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 0;
  padding-bottom: 0;

}
.box {
  box-sizing: border-box;
  background-color: #000000;
  margin-top: 50;
  padding-top: 50;
}

.aboutme {
  font-family: system-ui;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.aboutme img{
  width: 300px;
  height: 300px;
}

.aboutme span {
  color: rgb(255, 255, 255);
  padding: 100px;
}
.gotop {
  box-sizing: border-box;
  background-color: #000000;
  margin-bottom: 0;
  padding-bottom: 0;
  opacity: 0.5;
  text-align: center;
}

.gotop a{
  color: rgb(0, 217, 255);
}